<header><h1>Welcome to MSNGR</h1></header>
<form action = "/post_message" method = "post">
  <label for="name">Title:</label>
  <input type="text" name="msg_title">
  <label for="msg" >Message:</label>
  <textarea name="user_message" placeholder="MSGS"></textarea>
  <div>
    <input type="submit" value="submit">
 </div>
</form>
